.ecommerce-contant{
	.ecommerce-contant-text{
		.d-flex.p-3{
			padding: 1.25rem !important;
		}
	}
}
.img-icon.img-icon-sm { 
    width: 40px; height: 40px; line-height: 40px;
    i { 
        font-size: 16px;  
    }  
}