.jobportal-contant{
	.bg-img{
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	.table{
		td, th{
			vertical-align: middle;
		}
	}
	table{
		tr{
			td{
				&:nth-child(2) {
					display: flex;
					align-items: center;
					div{
						margin-right: 1rem;
					}
				}
			}
		}
	}
}

.table.jobportal-table{
    td { 
        padding: 1.5rem 0.75rem; 
    }
}
.jobportaldemo5 { 
	position: absolute; 
	bottom: 0; right: 0; 
	left: 0; 
}
.chart-fit { 
    margin-left: -1rem; 
    margin-right: -1rem; 
    &.jobportaldemo6 { 
		margin-left: -4rem; 
		margin-right: -4rem; 
	}
}
.jobportaldemo2{ 
    .apexcharts-canvas { 
        margin: inherit; margin-left: auto;  
    }
}

.site-visitor {
	.col {
		 @include mobile-portrait-sm {
			flex-basis: auto;
			border:0 !important;
			margin-bottom: 10px;
		   }
		   @include mobile-portrait-xs {
			flex-basis: auto;
			border:0 !important;
			margin-bottom: 10px;
		   }
	}
}